.ext-ux-uploaddialog-addbtn {
	background: url('../img/icon/add16x16.gif') no-repeat left center !important;
}

.ext-ux-uploaddialog-removebtn
{
	background: url('../img/icon/delete16x16.gif') no-repeat left center !important;
}

.ext-ux-uploaddialog-resetbtn
{
	background: url('../img/upload_file/reset16x16.gif') no-repeat left center !important;
}

.ext-ux-uploaddialog-uploadstartbtn
{
	background: url('../img/upload_file/upload-start16x16.gif') no-repeat left center !important;
}

.ext-ux-uploaddialog-uploadstopbtn
{
	background: url('../img/upload_file/upload-stop16x16.gif') no-repeat left center !important;
}

.ext-ux-uploaddialog-indicator-stoped
{
	width: 16px;
	height: 16px;
	/*background: url('../images/done.gif') no-repeat center center;*/
}

.ext-ux-uploaddialog-indicator-processing
{
	width: 16px;
	height: 16px;	
	/*background: url('../images/loading.gif') no-repeat center center;*/
}

.ext-ux-uploaddialog-state
{
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Queued */
.ext-ux-uploaddialog-state-0
{
	background-image: url('../img/upload_file/uncheck16x16.gif');
    height: 13px;
}

/* Finished */
.ext-ux-uploaddialog-state-1
{
	background-image: url('../img/upload_file/check16x16.gif');
    height: 13px;
}

/* Failed */
.ext-ux-uploaddialog-state-2
{
	background-image: url('../img/upload_file/failed16x16.gif');
    height: 13px;
}

/* Processing */
.ext-ux-uploaddialog-state-3
{
	background-image: url('../img/upload_file/file-uploading16x16.gif');
    height: 13px;
}

/* Progress bar fix */
.ext-ie7 .ext-ux-uploaddialog-dialog .x-progress-bar .x-progress-text div
{
	display: none;
}

.ext-ie7 .ext-ux-uploaddialog-dialog .x-progress-text-back
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.ext-ie7 .ext-ux-uploaddialog-dialog .x-progress-text-back div
{
	width: auto !important;
	white-space: nowrap;
}